<h1>Editer un séjour</h1>
<form (ngSubmit)="valider()" #sejourForm="ngForm">
  <div class="form-group">
    <label>Id</label>
    <input type="email" class="form-control" [(ngModel)]="model.id" name="id" readonly>
  </div>
  <div class="form-group">
    <label>Nom</label>
    <input type="text" class="form-control" [(ngModel)]="model.nom" name="nom" required>
  </div>
   <div class="form-group">
    <label>URL Image</label>
    <input type="text" class="form-control" [(ngModel)]="model.urlImage" name="urlImage" required>
  </div>
   <div class="form-group">
    <label>Prix</label>
    <input type="text" class="form-control" [(ngModel)]="model.prix" name="prix" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!sejourForm.form.valid">Valider</button>
</form>
